@{
    ViewBag.Title = "Albumify";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corporis amet similique eveniet eos sit quia officiis! Eum neque, sed pariatur repellendus obcaecati nostrum similique odit repellat sunt atque mollitia quibusdam praesentium animi fugit quo explicabo ea voluptatibus! Necessitatibus, officiis omnis recusandae et similique autem non sapiente deserunt sequi a, dolorem dolor aperiam veniam accusamus laborum temporibus ullam quisquam totam doloribus numquam. Dignissimos voluptates ipsum reprehenderit laudantium animi earum fugit, quam magnam natus, saepe necessitatibus incidunt voluptatum officiis! Eum quam quisquam quo nesciunt qui nobis assumenda recusandae aliquam! Ipsum ducimus natus, eos illo eveniet nisi repellat hic vel quasi corporis.
</p>
